/*------------CUSTOMIZED nu.css USED FOR Northeastern--------------*/

/*---Removing Last Update line from footer---*/
.EXLFooterTile div.EXLFooterUpdateContainer div.EXLFooterLastUpdate {display:none;}




///---------Remove Languages Nav from Header
#exlidMainMenuTile div.EXLLanguagesContainer {display: none;}

/* ---To remove the extraneous little white box around the search Button in Advanced Search--- */
#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormSubmitSearch {border:1px solid #ECF3FD; clear:both; display:inline;float:left
;margin-top:-1px;}

/*Removing RSS Image from Search Box*/
#exlidSearchBanner, .EXLFooterTile div.EXLFooterUpdateContainer div.EXLFooterLastUpdate {display:none;}

/*Remove "rss" link from the bottom-left of the results page (beneath "Suggested New Searches"*/
.EXLFacetContainer div.EXLFacetActions li.EXLFacetRSSAction {display:none;}

/* ----------Christine/Marci solution for space within boxes -----*/
//.EXLSearchFieldRibbonAdvancedSearchLink {text-indent:1em;}
//#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormSubmitSearch {width:auto;}

/* ---Fixing overlap of search button---*/
#exlidAdvancedSearchRibbon input.submit {width: 8.5em;}


/*---Hide Reviews & Tags---*/
.EXLResult .EXLReviewsTab { display:none;}
li#exlidMainMenuItem2.EXLMainMenuItem { display:none;}

/*---Highlight Sort By text/label---*/
.EXLResultsHeader div.EXLResultsNumbers div.EXLResultsSortBy span.EXLResultsSortByLabel {  float:left;width:auto; text-align:right; font-weight:bold}
/* .EXLResultsHeader div.EXLResultsNumbers div.EXLResultsSortBy span.EXLResultsSortBySelected a{ margin-left:0.5em; padding-right:1em; background-image:url(../images/icon_arrow_sendTo.png); background-repeat:no-repeat; background-position:100% 70%; color:#32322f; font-weight:bold} */


/*---Hide the default Help link---*/
#exlidMainMenuRibbon li.EXLLastItem { display:none;} 

/*---Hide VIEW in NUCat tab ---
.EXLResult .EXLRequestTab {display:none;}
*/
/*
Steven Bassett
s.bassett@neu.edu 

Started working on 08/27/12



*/

/**hide the Get More "tab"**/
.EXLMoreTab {
  display: none !important;
}


/* making the container wider */
.EXLResultsHeader div.EXLResultsNumbers div.EXLResultsSortBy{
  width: 16em;
  margin-bottom: 5px;
}


/* Adding more padding to the display all link */
a.EXLBriefResultsDisplayMultipleLink{
  display: inline-block;
  margin-top: 1em;
}
/* Styling the general result list to have more padding */
.EXLResult, .EXLResultsList td.EXLSummary{
  padding: 10px 0;
  
}

.EXLResultsList td.EXLThumbnail{
  padding-top: 1.2em; 
}

.EXLResultsList td.EXLMyShelfStar{
  padding-top: 1.4em;
}
/* Making the h2 result title more prominent in the results list */
.EXLResultsList h2{
  font-size: 110%;
  font-weight: 800;
}
/* aligning the search field */

#exlidSearchRibbon input{
  border: none;
  padding-top: 0.25em;
  height: 22px;
}

/* adding some background colors to the upper toolbar */
#exlidTopLevelFacetsTile{
  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(228, 228, 228);
}

.EXLResultsContainer div.EXLResultsTile{
  border: 1px solid rgb(228, 228, 228);
  padding-left: 0;
  margin-left: 1%;
}
/* Adding more padding to the table data cell */
.EXLResultsList td{
  padding-left: 10px;
}

.EXLResultsHeader{
  display: inline-block;
  width: 100%;
  padding: 6px 0px 3px 0px;
  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(228, 228, 228);
}

.EXLResultsFooter{
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.EXLFacetContainer{
  padding: 0;
  border: 1px solid rgb(228, 228, 228);
}
/* Refine my results more consistent */
.EXLFacetContainer h4 {
  background-color:#F8F8F8;
  border-bottom:1px solid #E4E4E4;
  border-top:1px solid #E4E4E4;
  color:#000000;
  font-size:80%;
  font-weight:bold;
  line-height:150%;
  margin-bottom:0.2em;
  padding:0 0 0 0.5em;
  text-indent:0;
}

.EXLFacetContainer h1 {
 margin-bottom: 0;
 font-size: 90%;  
}

/* making the background search button NU red */
#exlidSearchRibbon input.submit{
  background-color: rgb(204, 0, 0);
  background-image: none;
}
#exlidHomeContainer h1, #exlidHomeContainer h2{
  color: rgb(204, 0, 0);
}
#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeListsContainer{margin-top:1em; background-image:url(../images/home_main_visual.jpg); background-position:0% 0%; background-repeat:no-repeat; width:35em; float:left; padding-top:9em; 
padding-left:0.5em}

#exlidSearchRibbon div.EXLSearchFieldRibbon{
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* Added by Alon B from ExL alon.botvinik@exlibrisgroup.com */

/* Removing location tab using CSS */
.EXLTabsRibbon div li.EXLLocationsTab {
	display:none
}
.EXLTabsRibbon div li.EXLResultTab {
	padding-left: 0px;
}
