.EXLBrowseList{

}

#exlidAdvancedSearchRibbon{
  div.EXLBrowseFieldRibbon{
    background: none;
    border: none;
    min-height: 1px;
    padding-top: 0;
    padding-bottom: 0;
    .make-column(8);
    padding-right: 0;
    padding-left: 0;
    .EXLSearchFieldRibbonFormFields{
      width: 100%;
    }
  }
  
  div.EXLAdvancedBrowseRibbon{
    width: 100%;
  }
  div.EXLSearchFieldRibbonFormSubmitSearch{
    clear: none;
    display: block;
    .make-column(2);

  }
  div.EXLSearchFieldRibbonFormLinks{
    .make-column(2); 
  }
}


.EXLSearchFieldRibbonFormSelectedBrowse{

}

#exlidAdvancedSearchRibbon{

}

.EXLAdvancedBrowseRibbon{
  .make-column(12);
}

#exlidAdvancedSearchTile{
  border-top: none;
  border-bottom: none;
  padding: 0;
}
#exlidAdvancedSearchRibbon.EXLAdvancedBrowseRibbon{
  width: 100%;
  height: auto;
  border: none;
  background: none;
}