// ---- Advanced Search Tile --
#exlidAdvancedSearchTile{
  .navbar;
  background-image: none;
  background-color: @navbar-default-bg;
  font-size: inherit;
  width: auto;
  //removing the padding to the top of the search tile
  padding: 0 0 0 0;
}


form.EXLSearchForm{
  padding-right: 15px;
  padding-left: 15px;
}

#exlidAdvancedSearchTile #exlidAdvancedSearchRibbon{
  width: auto;
  margin-left: auto;
  margin-right: auto;
  div.EXLSearchFieldRibbonPreFilters{
    border: none;
    background: none;
  }
  //resetting the div to conserve more space
  .EXLSearchFieldRibbonFormLinks{
    float: right;
    line-height: normal;
    text-indent: 0;
    display: block;
    margin-top: -60px;
    //style link a bs .nav-link
    a{
      display: block;
      color: @navbar-default-link-color;
      padding-top: 15px;
      padding-bottom: 15px;
      &:hover{
        color: @navbar-default-link-hover-color;
      }
    }
  }
  input, select{
    min-height: 37px;
    border: 1px solid #cccccc;
    margin-bottom: 8px;
  }
  input[type="text"], select{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;

  }
  select, div.EXLSearchFieldRibbonFormFieldsGroup2 select{
    height: 34px;
  }
  label{
    color: white;
  }
  div.EXLSearchFieldRibbonFormFieldsGroup1, div.EXLSearchFieldRibbonFormFieldsGroup2{
    .make-md-column(6);
    padding-left: 0;
    padding-right: 0;
  }
  div.EXLSearchFieldRibbonFormSubmitSearch{
    border: none;
    float: right;
    //move the submit up to save space
    margin-top: -60px;
  }
  input.submit{
   background-image: none;
   width: 100%;
   .btn-info;
   .btn;
   .btn-lg;
   height: auto;
  }

  div.EXLAdvancedSearchFormRow{
      .make-row();
      padding-bottom: 0;
  }
  //left group of form fields
  div.EXLSearchFieldRibbonFormFieldsGroup1{

    div.EXLAdvancedSearchFormRow{
      input, select{
        .make-md-column(3.75);
        .make-md-column-offset(0.25);
        min-height: 37px;
      }
      .EXLAdvancedSearchFormRowInlineInput:first-of-type{
        input, select{
          margin-left: 0;
        }
      }
    }

    //hides the empty rows that are in this advanced search form.
    div.EXLAdvancedSearchFormRow{
      &:first-of-type,
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6),
      &:nth-of-type(7){
        display: none;
      }
    }
  }//end .EXLSearchFieldRibbonFormFieldsGroup1

  //starting right row fields
  div.EXLSearchFieldRibbonFormFieldsGroup2{
    border-left: none;
    //resizing the advanced search form fields
    .EXLAdvancedSearchFormRow{
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3){
        .make-md-column(4);

        //make the labels and select elements block width
        select,
        label{
          width: 100%;
        }
      }

    }

    label, select, input[type="text"]{
      .make-md-column(3.75);
      .make-md-column-offset(0.25);
      height: auto;

    }

    .EXLAdvancedSearchFormDateRangeRow{
      label{
        .make-md-column(12);
        padding-left: 0;
      }

    }
    select{
      height: 36px;
    }
    label{

      padding-left: 0;
    }
    @media (max-width: 756px){
      border-left: none;
      label{
        margin-left: auto;
      }
    }
  }
}
