// Primo Header Styles
// ----------------------

.nu-lib-logo{
  background: url('../images/nu-libraries-logo.svg') no-repeat top left;
  background-size: contain;
  display: block;
  width: 400px;
  max-width: 100%;
  height: 58px;
  margin-bottom: 0.85em;
  content: "Northeastern University Libraries";
}


.scholar-one-search{
  
  background: url('../images/scholar-one-search.svg') no-repeat top left;
  background-size: contain;
  display: block;
  width: 250px;
  max-width: 100%;
  height: 35px;
  margin-bottom: 0.75em;
  
}

.float-left-small-screen{
  @media (max-width: 756px){
    float: left;
    clear: left;
  }
}

#exlidMainMenuRibbon{
  .nav;
  .nav-pills;
}


.btn-group > .dropdown-toggle:not(:first-child) {
  .border-left-radius(@border-radius-small);
}


#exlidUserAreaTile{
  .make-column(5);
  .make-column-offset(3);
}

//User ribbon
#exlidUserAreaRibbon{
  .nav;
  .nav-pills;
  .pull-right;
  height: auto;
  margin: 0.25em 0;
  position: relative;
  .EXLUserName{
    margin: 0 0.25em 0.25em 0;
    border-radius: 5px;
    display: none;
  }
  li{
    font-size: inherit;
    padding: 0px;
    height: auto;

    // e-Shelf Iconography
    span.EXLMyShelfStarSelected{
      
      background-image: none;
      margin: 0 0.25em 0 0;
      padding: 0;
      width: auto;
      height: auto;
      float: none;
      &:before{
      color: @brand-success;
      .icon("\f02e");
      vertical-align: -10%;
      font-size: 4/3em;
      }
    }
    //user account iconography 
    span.EXLUserNameDisplay{
      &:before{
        margin: 0 0.25em 0 0;
        padding: 0;
        width: auto;
        height: auto;
        float: none;
        .icon("\f007");
        color: @brand-info;
        
        vertical-align: -10%;
        font-size: 4/3em;
      }
    }
    // my account link iconography
    &.EXLMyAccount > a:before{
        margin: 0 0.25em 0 0;
        padding: 0;
        width: auto;
        height: auto;
        float: none;
        
        color: @asbestos;
        
        .icon("\f085");
        //make large!
        vertical-align: -10%;
        font-size: 4/3em;
    }
    // my account sign in for 
    &.EXLSignOut > a:before{
        margin: 0 0.25em 0 0;
        padding: 0;
        width: auto;
        height: auto;
        float: none;
        
        color: @brand-primary;
        //.icon-off:before                  { content: "\f011"; }
        .icon("\f011");
        //make large!
        vertical-align: -10%;
        font-size: 4/3em;      
    }


  }
  li > .EXLUserNameDisplay{
    position: relative;
    display: block;
    padding: 10px 15px;
  }
  .float-left-small-screen;
}
//Main menu tile
#exlidMainMenuTile{
  .make-column(5);
  .make-column-offset(3);
  margin-bottom: 1em;
  div.EXLMainMenuContainer{
    float: none;
    width: auto;
  }
}

#exlidMainMenuRibbon{
  .nav;
  .nav-pills;
  .pull-right;
  padding: 0;
  height: auto;
  margin: 0.25em 0;
  li{
    font-size: inherit;
    margin: 0;
    &.EXLMainMenuItemSelected span a{
      color: #fff;
      background-color: @component-active-bg;
      background-image: none;
      border: none;
    }
    span{
      border: none;
      a{
        font-size: inherit;
        padding: 10px 15px !important;
        &:hover,
        &:focus{
          color: #fff;
          background-color: @component-active-bg;
          background-image: none;
        }
      }

    }
  }
  .float-left-small-screen;
}

.EXLHeader{
  padding: 1em 0;
}


// Hide the new search link, the report a problem link and the help link.

#exlidMainMenuRibbon{
  #exlidMainMenuItem1,//new search
  #exlidMainMenuItem4,//Report a problem
  #exlidMainMenuItem5//Help
  {
    display: none;
  }  
}



#exlidHeaderTile{
  .make-column(4);
}