//------- Body styles --------

body{
  background-color: @brand-gray;
  min-width: inherit;
}
//------- End Body Styles ----
// ------ Content Div --------
#contentEXL, body > div {
  .container-fixed();
  background-color: #FFFFFF;
  border-right: 1px solid #8c8c8a;
  border-left: 1px solid #8c8c8a;
  padding: 0 1em;
  @media (max-width: 756px){
    padding: 0;
    border: none;
  }
}
#contentEXL{
  min-height: 100%;
}

body > div, .EXLFooterTile{
  .container-fixed();
}
// Responsive: Tablets and up
@media screen and (min-width: @screen-tablet) {
  #contentEXL, body > div, .EXLFooterTile {
    max-width: 728px;
  }
}

// Responsive: Desktops and up
@media screen and (min-width: @screen-desktop) {
  #contentEXL, body > div, .EXLFooterTile {
    max-width: 940px;
  }
}

// Responsive: Large desktops and up
@media screen and (min-width: @screen-large-desktop) {
  #contentEXL, body > div, .EXLFooterTile {
    max-width: 1170px;
  }
}

// --- End Content Div -------

.nu-lib-logo{
  background: url('../images/nu-libraries-logo.svg') no-repeat top left;
  background-size: contain;
  display: block;
  width: 400px;
  max-width: 100%;
  height: 58px;
  margin-bottom: 1em;
  content: "Northeastern University Libraries";
}

.EXLTabsRibbon div li.EXLResultTab a, a.EXLBriefResultsDisplayMultipleLink{
  color: @link-color;
  .btn;
  .btn-default;
  .btn-small;
}

.EXLTabsRibbon div li.EXLResultTab{
  float: none;
}

.float-left-small-screen{
  @media (max-width: 756px){
    float: left;
    clear: left;
  }
}

#exlidMainMenuRibbon{
  .nav;
  .nav-pills;
}

iframe html{
  margin: 1em;
}

#exlidUserAreaTile{
  .make-column(5);
  .make-column-offset(3);
}

//User ribbon
#exlidUserAreaRibbon{
  .nav;
  .nav-pills;
  .pull-right;
  height: auto;
  margin: 0.25em 0;
  .EXLUserName{
    margin: 0 0.25em 0.25em 0;
    border-radius: 5px;
  }
  li{
    font-size: inherit;
    padding: 0px;
  }
  li > .EXLUserNameDisplay{
    position: relative;
    display: block;
    padding: 10px 15px;
  }
  .float-left-small-screen;
}
//Main menu tile
#exlidMainMenuTile{
  .make-column(5);
  .make-column-offset(3);
  div.EXLMainMenuContainer{
    float: none;
    width: auto;
  }
}

#exlidMainMenuRibbon{
  .nav;
  .nav-pills;
  .pull-right;
  padding: 0;
  height: auto;
  margin: 0.25em 0;
  li{
    font-size: inherit;
    margin: 0;
    span{
      border: none;
    }
  }
  a{
    font-size: inherit;
  }
  .float-left-small-screen;
}

#exlidHeaderTile{
  .make-column(4);
}
////// ---- SEARCH AREA -------------
#exlidSearchTile{
  background-image: none;
  border: none;
  font-size: inherit;
}

// Styling as a navbar component.
#exlidSearchRibbon{
  float: none;
  margin: 0.5em;
  margin-top: 3em;
  width: auto;
  .navbar;
  div.EXLSearchTabsContainer{
    display: none;
  }
  div.EXLSearchFieldRibbon{
    border: none;
    float: none;
    background: none;
    
  }
  input{
    width: auto;
    height: auto;
    padding: 8px 12px;
  }
  input#search_field{
    width: 100%;
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid @input-border;
  }
  input.submit{
    width: 100%;
    .btn-info;
    .btn;
    height: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  //
  fieldset{
    .navbar-form;
    .make-column(8);
    padding-right: 0px;
    padding-left: 0px;
  }
}
.EXLSearchFieldRibbonFormSearchFor{
  padding-right: 0px;
  width: 60%;
  @media(max-width: 756px){
    width: 50%;
  }
}
.EXLSearchFieldRibbonFormSubmitSearch{
  width: auto;
  max-width: 12%;
}
#exlidHeaderSystemFeedback{
  display: none;
}


.EXLSearchFieldRibbonFormFields{
  width: 88%;
  height: auto;
}

.EXLSearchFieldRibbonFormSelectedCollection{
  height: auto;
  width: 40%;
  border-left: none;
  @media(max-width: 756px){
    width: 50%;
  }
  .EXLSearchFieldRibbonFormSelectedCollectionLabel{
    padding-left: 0;
  }
  a{
    .btn;
    .btn-default;
    border-radius: 0;
    background-image: none;
    &:after{
      .btn .caret;
      .caret;
    }
  }
 
}



.EXLSearchFieldRibbonAdvancedSearchLink, .EXLSearchFieldRibbonBrowseSearchLink{
  .make-column(2);
  margin-top: 17px;
  margin-bottom: 17px;
  a, a.EXLSearchFieldRibbonAdvancedTwoLinks{ 
    padding: 0;
    font-size: inherit;
    .navbar-link;
  }
}

.EXLSearchFieldRibbonFormCollectionsList{
  .dropdown-menu;
  left: 52%;
  @media(max-width: 756px){
    left: 10%;
  }
}

// ------ Results Tile --------
.EXLResultsContainer div.EXLResultsTile{
  @media (max-width: 756px){
  width: 100%;
  float: left;
  clear: both;
  margin: 1em auto;
  }
}

//add to eShelf button
td.EXLMyShelfStar{
  .EXLResultsList &{
   width: 4.5em;
  }
  i{
    color: #FFFFFF;
  }
}

//------- Results header-----
.EXLResultsHeader{
  .panel-heading;
  font-size: inherit;
  margin: 0;
  div.EXLResultsNumbers{
    .make-column(8);
    //Results header showing the number of results found.
    h1{
      color: @text-color;
      font-size: 12px;
      .make-column(7);
      margin: 9px 0;
    }
    //styling the result dropdown as a button toggle for sorted by menu.
    div.EXLResultsSortBy{
      .make-column(5);
      float: left;
      span.EXLResultsSortByLabel{
        margin-top: 4px;
      }
      span.EXLResultsSortBySelected a{
        .btn;
        .btn-small;
        .btn-primary;
        background-image: none;
        &:after{
          .btn .caret;
          .caret;
        }
      }
      ul{
        .dropdown-menu;
        display: block;
        margin-left: 5.4em;
        li.EXLSortByLink{
          color: @text-color;
          background-color: #FFFFFF;
          &:hover, &:focus{
            background-color:  #f1f1f1;
          }
        }
        //this is the selected scope or the active scope.
        li.EXLSortByLinkSelected{
          display: block;
          padding: 3px 20px;
          clear: both;
          font-weight: normal;
          line-height: 1.528571429;
          color: #333333;
          white-space: nowrap;
          background-color:  #f1f1f1;
        }
      }
    }
  }
  //Pagination styles
  div.EXLResultsNavigation{
    .make-column(4);
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    @media (max-width: 756px){
      padding-left: 30px;
      padding-right: 30px;
    }
    a, span{
      float: left;
      padding: 5px 10px;
      background-color: #FFFFFF;
      border: 1px solid #dddddd;
      min-height: 30px;
      &:hover,
      &:focus{
        background-color: #f5f5f5;  
      } 
      img{
        display: none;
      }
      i{
        font-size: 17px;
        color: @gray;
      }
     &:first-child{
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
     }
     &:last-child{
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
     }
    }
  }
}

//Facet refinement

img[alt="remove"]{
  .invisible;
}



//------- Results Tile ------
.EXLResultsTile{
  .panel;
  padding: 0;
}
.searchword{
  background-color: inherit;
  border-bottom: 1px @gray-light dotted;
}
.EXLResultAvailability em{
  font-style: normal;
}
.EXLResultsList{
  h3{
    margin-top: 15px;
  }
  h2{
    font-size: 1.2em;
  }
}
// ------ Facet Tile --------
.EXLFacetTile{
 @media (max-width: 756px){
  width: 100%;
  float: left;
  clear: both;
  }
}
.EXLFacetContainer{
  .panel;
  padding: 0;
  margin-bottom: 15px;
  h3, h1, h4{
    .panel-heading;
    margin: 0;
  }
  h1{
    font-size: 16px;
  }
  h3{
    font-size: 15px;
  }
  h4{
    font-size: 14.5px;
  }
  ol.EXLFacetsList{
    .list-group;
    padding: 0px;
    margin: 0px;
    li{
      .list-group-item;
      padding-right: 15px;
      border-left: none;
      border-right: none;
      &.EXLAdditionalFacet{
        display: none;
      }
      &.EXLFacetsDisplayMore{
        margin-top: 0px;
      }
      a{
        font-size: 13px;
        display: inline-block;
        width: 68%;
      }
      span{
        float: right;
        clear: right;
        text-align: right;
        font-size: 11px;
        display: inline-block;
        max-width: 24%;
        overflow: hidden;
      }
    }
  }
  div.EXLFacetActionsV2{
    margin-bottom: 0;
    li.EXLFacetRSSAction{
      background-image: none;
      padding-left: 0;
    }
  }
}
//removing the border radius on facet containers that are related.
.EXLRelatedSearchTopicFIELDfacet_creator{
  .border-bottom-radius(0);
  border-bottom: none;
}
.EXLRelatedSearchTopicFIELDfacet_topic{
  border-radius: 0;
  border-top: none;
  border-bottom: none;
}
//Styling the more link to not have the stupid blue arrow.
a[title="More "]{
  &:after{
    .caret;
  }
  img{
    display: none;
  }
}

.EXLRelatedSearchTopic{
  margin-bottom: 0px;
}


// ------ Footer Tile -------
.EXLFooterTile, #EXLFooterTile{
  margin: 0 auto;
  background-image: none;
}


// --- End Footer Tile ------