////// ---- SEARCH AREA -------------
#exlidSearchTile{
  background-image: none;
  border: none;
  font-size: inherit;

  width: auto;
}



// Styling as a navbar component.
#exlidSearchRibbon{
  float: none;
  margin-top: 3em;
  width: auto;
  .navbar;
  

  div.EXLSearchTabsContainer{
    display: none;
  }
  div.EXLSearchFieldRibbon{
    border: none;
    float: none;
    background: none;
    
  }
  input{
    width: auto;
    height: auto;
    padding: 8px 12px;
  }
  input#search_field{
    width: 100%;
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid @input-border;
    min-height: 36px;
  }
  input.submit{
    width: 100%;
    .btn-info;
    .btn;
    
    height: auto;
    min-height: 38px;
    overflow: hidden;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  //
  fieldset{
    .navbar-form;
    .make-column(8);
    padding-right: 0px;
    padding-left: 0px;
  }
}
.EXLSearchForm .EXLSearchFieldRibbonFormSearchFor{
  padding-right: 0px;
  width: 60%;
  @media(max-width: 756px){
    width: 50%;
  }
}
.EXLSearchFieldRibbonFormSubmitSearch{
  width: auto;
  max-width: 12%;
}
#exlidHeaderSystemFeedback{
  display: none;
}


.EXLSearchFieldRibbonFormFields{
  width: 88%;
  height: auto;
}

.EXLSearchFieldRibbonFormSelectedCollection{
  height: auto;
  width: 40.001%;
  height: auto;
  max-height: 38px;
  overflow: hidden;
  border-left: none;
  border-right: 1px solid @btn-default-border;
  @media(max-width: 756px){
    width: 50%;
  }
  .EXLSearchFieldRibbonFormSelectedCollectionLabel{
    padding-left: 0;
  }
  a{
    .btn;
    .btn-default;
    height: auto;
    border-radius: 0;
    background-image: none;
    text-overflow: ellipsis;
    overflow: hidden;
    &:after{
      .btn .caret;
      .caret;
    }
  }
 
}



.EXLSearchFieldRibbonAdvancedSearchLink,
.EXLSearchFieldRibbonBrowseSearchLink,
.EXLSearchFieldRibbonAtoZLink{
  .make-column(2);
  position: static;
  margin-top: 17px;
  margin-bottom: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #FFFFFF;
  a, a.EXLSearchFieldRibbonAdvancedTwoLinks{ 
    padding: 0;
    font-size: inherit;
    .navbar-link;
    display: inline;
    
  }
}

.EXLSearchFieldRibbonFormCollectionsList{
  .dropdown-menu;
  left: 52%;
  @media(max-width: 756px){
    left: 10%;
  }
}










