// ---- Advanced Search Tile --
#exlidAdvancedSearchTile{
  .navbar;
  background-image: none;
  font-size: inherit;
  width: auto;

}


.MyAccount form.EXLSearchForm{
  padding-right: 15px !important;
  padding-left: 15px !important;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow{
  margin-left: 0;
}

#exlidAdvancedSearchTile #exlidAdvancedSearchRibbon{
  width: auto;
  margin-left: auto;
  margin-right: auto;
  div.EXLSearchFieldRibbonPreFilters{
    border: none;
    background: none;
  }
  .EXLSearchFieldRibbonFormLinks{
    a {
      .navbar-link;
    }
  }
  input, select{
    min-height: 37px;
    border: 1px solid #cccccc;
    margin-bottom: 8px;

  }
  input[type="text"], select{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;

  }
  select, div.EXLSearchFieldRibbonFormFieldsGroup2 select{
    height: 36px;
  }
  label{
    color: white;
  }
  div.EXLSearchFieldRibbonFormFieldsGroup1, div.EXLSearchFieldRibbonFormFieldsGroup2{
    .make-column(6);
  }
  div.EXLSearchFieldRibbonFormSubmitSearch{
    border: none;
    float: right;
  }
  input.submit{
   background-image: none;
   width: 100%;
   .btn-info;
   .btn;
   .btn-large;
   height: auto;
  }
  
  div.EXLAdvancedSearchFormRow{
      .make-row();
  }
  //hides the empty rows that are in this advanced search form.
  div.EXLSearchFieldRibbonFormFieldsGroup1{

    div.EXLAdvancedSearchFormRow{
      input, select{
        .make-column(3.75);
        .make-column-offset(0.25);
        min-height: 37px;
      }
      .EXLAdvancedSearchFormRowInlineInput:first-of-type{
        input, select{
          margin-left: 0;
        }
      }
    }


    div.EXLAdvancedSearchFormRow{

      &:first-of-type,
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6),
      &:nth-of-type(7){
        display: none;
      }
    }
  }
  div.EXLSearchFieldRibbonFormFieldsGroup2{
    label, select, input[type="text"]{
      .make-column(3.75);
      .make-column-offset(0.25);
      height: auto;     

    }
    #exlidInput_publicationDate_
    ,#exlidInput_mediaType_
    ,#exlidInput_language_
    ,#exlidSearchIn{
      .make-column(7.75);
    }
    .EXLAdvancedSearchFormDateRangeRow{
      label{
        .make-column(12);
        padding-left: 0;
      }

    }
    select{
      height: 36px;
    }
    label{

      padding-left: 0;
    }
    @media (max-width: 756px){
      border-left: none;
      label{
        margin-left: auto;
      }
    }
  }
}