// My Account tab ribbon styles.

.EXLMyAccountTabsRibbon{
  height: auto;
  border-bottom: none;
  padding-top: 0;
  margin: 0 auto;
  div{
    .make-column(12);
    .EXLMyAccountTabs{
      margin: 0.5em auto 0 auto;
      li{
        font-size: inherit;
        line-height: inherit;
      }
      li.EXLMyAccountTab{
        
        height: auto;
        width: auto;
        margin: auto;
        margin-bottom: -1px;
        padding: 0;
        border: none;
        text-align: inherit;
        vertical-align: inherit;
        a{
          color: @link-color;
          font-size: inherit;
          &:hover,
          &:focus{
            color: @link-hover-color;
          }
        }

      }
      li.EXLMyAccountSelectedTab{
        background: none;
        border-bottom: none;
        > a,
        > a:hover,
        > a:focus {
          color: @gray;
          background-color: @body-bg;
          border: 1px solid #ddd;
          border-bottom-color: transparent;
          cursor: default;
        }
      }
      .nav;
      .nav-tabs;
    }  
  }
}

// My account container
.EXLMyAccountContainer{
  background-color: @body-bg;
  .make-row();
  padding-right: 15px;
  padding-left: 15px;

  .EXLMyAccountQueriesMainContainer{
    margin-left: auto;
  }

}
//menu tile floated to the left
.EXLMyAccountMainMenuTile{
  .make-column(3);
  margin-top: 2em;
}


//
.EXLMyAccountMainContainer{
  .make-column(9);
  margin-left: auto;
  border: none;
  
  table{
    font-size: inherit;
  }
  div.EXLMyAccountMainHeader{
    .make-column(12); 
    height: auto;
    background-color: transparent;
    border-bottom: none;
    font-size: inherit;
    div.EXLMyAccountMainHeaderTitle{
      .reset;
      border-bottom: 1px @gray-lighter solid;
      margin-bottom: 1em;
      h1{
        margin: 0.5em 0em 1em 0em;
        font-size: 24px;
        font-weight: normal;
        line-height: 1;
        color: @gray;
      }
    }
  }//end div.EXLMyAccountMainHeader
  //Form
  form{
    input{

    }
    span.submit{
      .reset;
      width: 100%;
    }
    input.submit{
      .reset;
      background-image: none;
      .btn;
      .btn-large;
      .btn-block;
      .btn-success;
      &#EXLMyAccountSaveSettings{
        .btn-small;
      }
    }
  }//end form
}
//My account form container
.EXLMyAccountFormContainer {
  .make-column(12);
  font-size: inherit;
  padding-top: inherit;
  div.EXLMyPersonalSettings{
    .make-column(7);
  }
  div.EXLMyAccountTips,
  div.EXLMyAccountRanking{
    margin: 0;
    .make-column(5);
    background-image: none;
    li{
      span.EXLMyAccountTipsBullet{
        background-image: none;
        margin-top: 0;
        .make-font-awesome;
        &:before{
          content: "\f05a";
        }

      }
    }
  }
}


.EXLRequestSystemFeedback,
.EXLMyAccountMainContainer div.EXLMyPersonalSettings div.EXLRequestSystemFeedback
{
  .alert;
  .alert-block;
  span{
    .reset;
    color: inherit;
    background-image: none;
  }
}


.EXLMyAccountMainMenuContainer {
  ol{
    .reset;
    .list-group;
    border-radius: @list-group-border-radius;
    li{
      font-size: inherit;
      .list-group-item;
      &:first-of-type{
        .border-top-radius(@list-group-border-radius);
      }
      &:last-of-type{
        .border-bottom-radius(@list-group-border-radius);
      }
      span.EXLMyAccountMainMenuBulletSelected{
        .reset;
        float: left;
        background-image: none;
        .make-font-awesome;
        &:before{
          content: "\f00c";
        }
        & + span a {
          color: @silver;
          &:hover, &:focus{
            text-decoration: none;
          }
        }
      }
    }
  }
}
#exlidMyDatabasesTab{
  display: none;
}
