
//modernizr scope
.svg{
  .MyAccount{
    .eShelf_title + .draggable + noscript + table{
      font-size: inherit !important;
      vertical-align: middle !important;
      td{
        vertical-align: middle;
      }
      .folder_details h5{
        .h5;
        font-size: 14px !important;
      }
      .folder_details a.eShelf_cut_but{
        .make-font-aweseome-eshelf("\f0c4");
      }
      .folder_details a.eShelf_copy_but {
        .make-font-aweseome-eshelf("\f0c5");
      }
    }
  }

}

