// ------- A-Z list ----------
#exlidSearchTile.EXLSearchEJorunals {
  .EXLSearchEJorunalsListAtoZ{
   width: auto;
   ul{
    .nav;
    //Make the A-Z Link nav fit 12 column spans
    & > li > a{
      .btn;
      .btn-small;
      .btn-primary;
      &:hover,
      &:focus{
        background-image: none;
      }
    }

   }
   li{
    width: auto;
    line-height: inherit;
   }
   li a{
    color: white;
    width: auto;
    }
  }
}

//Selecting the body for the search field styles scope
.EXLAlmaAz{
  .EXLSearchFieldRibbonFormFields{
    width: 88%;
    .EXLSearchFieldRibbonFormSearchFor{
      width: 100%;
    }
  }
  #exlidSearchRibbon{
    margin-bottom: 0;
    margin-top: 0;
  }
  #exlidSearchTile.EXLSearchEJorunals{
    background: none;
    background-color: #FFF;
    background-image: none;
    border-top: none; 
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
    //reset the fieldset to be a navbar again
    fieldset{
      margin-left: auto;
      .make-column(12);
      padding-left: 0;
      padding-right: 0;
      label{
        .hide-text();
      }
    }//end field set

    //Return to simple search link
    .EXLSearchFieldRibbonSimpleSearchLink{
      margin-top: 0;
      margin-left: auto;
      .make-column(3);
      a{
        .btn;
        .btn-primary;
        .btn-small;
        .border-top-radius(0);
      }
    }
  }


}
div.EXLALMAResultsTileNoFacets td.EXLThumbnail{
  display: block;
  .make-column(1);
}

.EXLSearchEJorunals form.EXLSearchForm[name="searchForm"]{
  padding-right: 0 !important;
  padding-left: 0 !important;
}



//Get rid of this annoying link.
a.EXLMainMenuITEMATOZClose{
  display: none !important;
}