// .multipleCoverImageContainer{
//   width: auto;
//   height: auto;
//   font-size: inherit;
//   background-image: none !important;
//   .make-font-awesome;
//   overflow: hidden;
//   font-size: 2.85em;
//   border:none;
//   .EXLResultMediaTYPEbook &:before{
//     // .icon-book:before                 { content: "\f02d"; }
//     content: "\f02d";
//   }

// }
// .EXLResultsList td.EXLThumbnail img{
//   width: auto;
//   height: auto;
//   min-height: 56px;
//   min-width: 38px;
//   &[id*="google"]{
//     border: 1px solid #bdbcbd;
//   }
// }


a.EXLLightboxHeaderClose{
    .close;
    .make-font-awesome;
  &:before{
    content: "\f05c";
  }
}
img[src="../images/icon_close_tabs.png"]{
  opacity: 0;

}