form[action="/primo_library/libweb/action/search.do?fn=BrowseSearch"]{
  .navbar-form;
  .EXLAdvancedBrowseRibbon{
    .make-row();
    margin-top: 0;  
  }
  div.EXLBrowseFieldRibbon{
    .reset;
    background-color: inherit;
    border: none;
  }
  #exlidAdvancedSearchRibbon .EXLSearchFieldRibbonFormFields{
    width:90%;
  }
  //Reseting the ribbon here;
  #exlidAdvancedSearchRibbon div.EXLBrowseFieldRibbon{
    background-color: transparent;
    border: none;
    min-height: 1px;
    padding: 0;
  }

}


//// Dropdown menu gradients
//// Not just for browse


#exlidAdvancedSearchRibbon,
.EXLSearchFieldRibbonFormCollectionsList,
#exlidSearchRibbon{
  div.EXLDynamicSelectBodyRadio a label,
  div.EXLDynamicSelectBodyRadio div label{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.528571429;
    color: #333333;
    white-space: nowrap;
    margin-bottom: 0;
    &:hover,
    &:focus{
      color: #ffffff;
      text-decoration: none;
      background-color: #b30000;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cc0000), to(#b30000));
      background-image: -webkit-linear-gradient(top, #cc0000, #b30000);
      background-image: -moz-linear-gradient(top, #cc0000, #b30000);
      background-image: linear-gradient(to bottom, #cc0000, #b30000);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc0000', endColorstr='#ffb30000', GradientType=0);
    }
  }
  div.EXLDynamicSelectBodyRadio a input[checked="checked"] + label,
  div.EXLDynamicSelectBodyRadio div input[checked="checked"] + label{
    color: @dropdown-link-active-color;
    text-decoration: none;
    outline: 0;
    #gradient > .vertical(@dropdown-link-active-bg, darken(@dropdown-link-active-bg, 5%));
  }
}