#exlidUserAreaRibbon li span.EXLUserAreaStart{
  display:none;
}

#exlidUserAreaRibbon li{
  background: none;
}
#exlidMainMenuRibbon li span{
  padding: 0;
}
.EXLResultsList,
.EXLResultsHeader h1,
.EXLResultsHeader div.EXLResultsNumbers div.EXLResultsSortBy,
.EXLResultsHeader div.EXLResultsNavigation,
.EXLFacetContainer ol li,
.EXLFacetContainer h1,
.EXLFacetContainer h4,
.EXLFacetContainer h3,
.EXLFooterTile,
.EXLFacetContainer div.EXLFacetActionsV2
{
  font-size: inherit;
}