[submodule "js/vendor/respond"]
	path = js/vendor/respond
	url = https://github.com/scottjehl/Respond.git
    branch = master
[submodule "font-awesome"]
	path = font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
    branch = master
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap
	branch = master
