//  Alma Services Tab Styles


a,
a:link,
a:visited {
  &:extend( a );
}

::selection {
  background: inherit;
  color: inherit;
}



.internalTitle{
  .h5;
}





//
// vcu customizations - alma u-resolver
// erwhite@vcu.edu
// 2012-10
// rev. 2013-01


/*
  "view online" tab
*/

/* clear padding on parent containers and bump up the font size */
form[name=uResolverViewItForm],
form[name=uResolverViewItForm] div.tabContent {
  padding: 0 !important;
  margin: 0 !important;
  font-size: @font-size-base !important;
}

/* hide text of h1 and add sfx image */
form[name=uResolverViewItForm] h1 {
  // font-size: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  width: auto;
  display: block;
  height: 24px;
}

/* bump up margins for lists, make non-important text lighter */
form[name=uResolverViewItForm] ul,
form[name=uResolverViewItForm] li {
  padding: 0 15px;
  color: @text-color;
}

// hide "full text available at" - redundant
form[name=uResolverViewItForm] .internalTitle {
  display: none;
}

// make all the links to resources juicier
form[name=uResolverViewItForm] ul li a,
form[name=uResolverViewItForm] ul li a:link {
  margin: 12px 0 0 0;
  padding: 3px 0 !important;
  display: block;
  font-weight: bold;
}


/*
  "Find or request" tab
*/

/* make holdings info more visible */
ul.holdingInfo { background: #ffffcc; }

ul.holdingInfo li.bold {
  font-weight: bold !important;
  width: auto !important;
  margin:0 0.3em !important;
}

/* add colon after availability */
ul.holdingInfo li.bold::after { content: ":  "; }

/* nix the horizontal scrollbar */
.showMore {
  border-left: 0 !important;
  border-right: 0 !important;
}
.showMore li {
  width: auto !important;
  padding: 0 0.3em !important;
}

/* embolden request options */
.iframeHeader .iframeHeaderContent em { font-weight: bold !important; }

/* hide the "barcode" column */
.itemsList #TABLE_DATA_item_list th:first-of-type,
.itemsList #TABLE_DATA_item_list td:first-of-type { display: none !important; }

/* buttonify request options for journals and ILLiad request  */
.submitAsLink,
.typeC .formDiv input.submitAsLink,
#TABLE_DATA_item_list td:last-of-type a {
  .btn;

}
/*button hover */
#TABLE_DATA_item_list td:last-of-type a:hover {
  text-decoration: none !important !important;
  background-color: #febe10 !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0d0d0), color-stop(100%, #e6e6e6)) !important;
  background-image: -webkit-linear-gradient(top, #d0d0d0, #e6e6e6) !important;
  background-image: -moz-linear-gradient(top, #d0d0d0, #e6e6e6) !important;
  background-image: -ms-linear-gradient(top, #d0d0d0, #e6e6e6) !important;
  background-image: -o-linear-gradient(top, #d0d0d0, #e6e6e6) !important;
  background-image: linear-gradient(top, #d0d0d0, #e6e6e6) !important;
  -webkit-box-shadow: inset 0 1px 0 0 #f2f2f2 !important;
  -moz-box-shadow: inset 0 1px 0 0 #f2f2f2 !important;
  box-shadow: inset 0 1px 0 0 #f2f2f2 !important;
  color: #6d520b !important;
  cursor: pointer !important;
}
