form[action="/primo_library/libweb/action/search.do?fn=BrowseSearch"]#searchForm{
  padding-left: 0;
  padding-right: 0;
  .MyAccount &{
    padding-left: 15px;
    padding-right: 15px;
  }
  // container for the text field and the dopdown
 .EXLAdvancedBrowseRibbon{
    margin-top: 0;
    a input{
      display: none !important;
    }
  }
  #exlidAdvancedSearchTile{
    .navbar;
    padding: 0 0 0 0;
    border-top: none;
    border-bottom: none;
    .EXLAdvancedBrowseRibbon{
      .container;
    }
  }
  .EXLSearchFieldRibbonFormSearchFor{
    width: 50%;
    float: left;
    clear: left;
    input[name="searchTxt"]#search_field{
      .form-control;
      border-radius: 4px 0 0 4px;
    }

  }
  #exlidAdvancedSearchTile #exlidAdvancedSearchRibbon  > fieldset{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
  #exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormLinks{
    margin-right: 8px;
    position: static;
    margin-bottom: 8px;
    margin-top: 10px;

    a{
      padding: 8px 15px;
      display: block;
    }
  }
  #exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormSubmitSearch{
    width: auto;
    max-width: 10%;
    float: left;
    clear: right;
    margin: 8px 0 8px -1px;
    position: static;
    input.submit{
      .btn;
      .border-left-radius(0);
    }
  }
  .EXLSearchFieldRibbonFormFields{
    width: 100%;

  }

  //Reseting the ribbon here;
  #exlidAdvancedSearchRibbon div.EXLBrowseFieldRibbon{
    width: 80%;
    float: left;
    padding: 0;
    margin: 7px 0;
    background-color: transparent;
    border: none;
    min-height: 1px;

  }
  .EXLSearchFieldRibbonFormBrowseList{
    .dropdown-menu;
    left: 50%;
    width: auto;
    top: 45px;
    @media (max-width: @screen-small){
      left: 40%;
    }
    @media(max-width: @screen-tiny){
      left: 18%;
    }
  }
}

//Unique component, this is the dropdown for browse selection.
.EXLSearchFieldRibbonFormSelectedBrowse{
  width: 50%;
  float: right;
  border: none;
  height: auto;
  .EXLSearchFieldRibbonFormSelectedCollectionLabel.EXLSearchFieldRibbonFormSelectedLabelBrowse{
    padding: 0;
    a{
      .btn;
      .btn-default;
      border-radius: 0;
      height: auto;
      background-image: none;
      &:after{
        .btn .caret;
        .caret;
        color: #FFFFFF;
      }
    }
  }
}


//Mapping over the dropdown menu styles
#exlidAdvancedSearchRibbon,
.EXLSearchFieldRibbonFormCollectionsList,
#exlidSearchRibbon{
  div.EXLDynamicSelectBodyRadio a label,
  div.EXLDynamicSelectBodyRadio div label{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.528571429;
    color: #333333!important;
    white-space: nowrap;
    margin-bottom: 0;
    &:hover,
    &:focus{
      text-decoration: none;
      color: @dropdown-link-hover-color !important;
      background-color: @dropdown-link-hover-bg;
    }
  }
  div.EXLDynamicSelectBodyRadio a input[checked="checked"] + label,
  div.EXLDynamicSelectBodyRadio div input[checked="checked"] + label{
    color: @dropdown-link-active-color !important;
    text-decoration: none;
    outline: 0;
    background-color: @dropdown-link-active-bg;
  }
}
