/* primo-search */

.EXLSearchWrapper{
  clear: both;
  .clearfix();
  .container-fixed;
}




// Styling as a navbar component.
#exlidSearchRibbon{

  .navbar;
  .navbar-default;

  .EXLSearchFieldRibbon{

    @media (min-width: @grid-float-breakpoint) {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }
  }
  input[type="text"]{
    .form-control;
  }
  input,
  #showMoreOptions{
    margin-bottom: 5px;
    @media (min-width: @grid-float-breakpoint){
      margin-bottom: 0;
      &#search_field{
        min-width: 300px;
      }
    }
  }
  input#search_field{
    @media (min-width: @grid-float-breakpoint){
      min-width: 300px;
    }
  }
  input.submit{
    .btn-info;
    .btn;


    overflow: hidden;
    &:hover,
    &:focus{
      color: @btn-info-color;
    }
  }
  fieldset{

    padding: 10px (@navbar-padding-horizontal * 2 );
    &:extend(.navbar-form);
    &:extend(.navbar-left);
    @media (min-width: @grid-float-breakpoint) {
      padding: 0px @navbar-padding-horizontal;
      .EXLSearchFieldRibbonFormFields,
      .EXLSearchFieldRibbonFormSearchFor,
      #scopesList,
      .EXLSearchFieldRibbonFormSubmitSearch{
        display: inline-block;
      }
    }
  }
}



.EXLSearchFieldRibbonFormSelectedCollection{
  a{
    .btn;
    .btn-info;
  }
}

.EXLSearchFieldRibbonAdvancedSearchLink,
.EXLSearchFieldRibbonBrowseSearchLink,
.EXLSearchFieldRibbonAtoZLink{
  display: inline-block;

  a, a.EXLSearchFieldRibbonAdvancedTwoLinks{
    padding: @navbar-padding-vertical @navbar-padding-horizontal;
    color: @navbar-default-link-color;
    display: block;
    &:hover {
      color: @navbar-default-link-hover-color;
    }
  }
}

.EXLSearchFieldRibbonFormCollectionsList{
  .dropdown-menu;
  left: initial;
  top: initial;
}








