.col-lg-12
    p
      | Please note: Effective June 1, 2016 Snell Library’s Interlibrary Loan system will be changing. Please read more about these changes 
      a(href='http://www.lib.neu.edu/snippets/?p=127358') here
      |.
    h3#howDoesThisWork
        | How does this work?
      p
        | Scholar OneSearch provides simple, one-stop searching for books and e-books, videos, articles, digital media, and more. Search local Northeastern collections and global resources, with many items available in full text online.
      p
        | Scholar OneSearch also helps you manage your research. Sign in with your myNEU credentials in order to:
      ul
        li
          | Renew books and videos
        li
          | Create lists
        li
          | Export citations to Refworks and Endnote Web
        li
          | Order materials from other libraries.
        li
          | View full search results. (Some databases, like Web of Science, only show results when you're signed in.)
      p
        | Questions? Comments?
      p
        a(href='http://library.northeastern.edu/about/contact_us/') Let us know what you think!
