.col-lg-12
    h3
      | What am I searching?
    ul
      li
        | All books, e-books, videos, journals, and other collections from our legacy catalog, NUCat
      li
        | Articles, proceedings, and digital materials from a variety of licensed and open source databases. If you only want items located at Snell Library, the Law Library, and the African American Institute, limit your search by choosing "Library Catalogs" or "Law Library Catalog Only" from the drop-down menu.
      li
        a(href="https://library.northeastern.edu/get-help/tech-support/about-the-home-page-search/databases-and-resources-in-scholar-onesearch") View a complete list 
        | of publishers and providers whose content is included in Scholar OneSearch
    h3
      | Where can I get help?
    ul
      li
        a(href='http://library.northeastern.edu/ask') Ask a librarian
        |  how to start your search
      li
        | Dig deeper into library resources with 
        a(href='http://subjectguides.lib.neu.edu/browse.php') dedicated subject guides
        | , which offer advice, recommendations, and contact information for subject librarians in your discipline.
