a.report-a-problem{
  .close;
  float: none;
  opacity: 0.5;
  color: @carrot;
  i{
    font-size: @report-a-problem-font-size;
  }
  &:hover,
  &:focus{
    color: @carrot;
    opacity: 1.0;
    text-decoration: none!important;
  }
}

.EXLResultTabContainer{
  .panel;
  .panel-variant(@panel-default-border; @panel-default-text; @panel-default-heading-bg; @panel-default-border);
}

.EXLTabHeader{
  .panel-heading;
  padding: 0 0;
  .panel-default > .panel-heading;
  .clearfix();
  ul{
    .clearfix();
    .nav;
    float: right;
    > li{
      float: left;
    }
  }
}
.EXLTabContent{
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.EXLDetailsTabContent{
  padding-top: 0;
}

.EXLTabHeaderButtons
, .EXLTabHeaderContent{
  width: 50%;
  float: left;
}
.EXLTabHeaderButtons{
  float: right;
}

.EXLTabHeaderContent a{
  display: block;
  padding: 10px 4px;
}
a[title="open this item in a new window"]{
  &:before{
    .icon("\f08e");
  }
  img{
    display: none;
  }
}

a[title="hide tabs"]{
  .close;
  border-right: none !important;
  &:before{
    .icon("\f05c");

  }
  img{
    display: none;
  }
}


a[title="show send to options"]{
  &:after{
    .caret;
  }
  img{
    display: none;
  }
}


.EXLDetailsTabContent{
  div.EXLDetailsLinks{
    .make-lg-column(4);
    position: static;
    margin: 0;
    padding: 0;
    ul{
      height: auto;
      width: auto;
      padding: 0;
      margin-left: 12.5px;
    }
    li span.EXLDetailsLinksTitle a{
      .reset;
    }
    li span.EXLDetailsLinksBullet{
      background-image: none;
      margin-top: 0;
      margin-right: 8px;
      &:before{
        .icon("\f138");
      }
    }
  }
  div.EXLDetailsContent{
    .make-lg-column(8);
    position: static;
    z-index: 1;
    margin: 0;
  }
}

.icon-remove-circle.close{
  float:none;
}

.EXLResultTabs{
  padding-left: 0;
}


.EXLTabHeaderButtonSendToList{

  .dropdown-menu;
  a{
    &:hover,
    &:focus {
      text-decoration: none;
      color: @dropdown-link-hover-color;
      background-color: @dropdown-link-hover-bg;
    }
  }
}



.EXLDetailsContent{
  ul{
    padding-left: 0;
  }
}
