a.report-a-problem{
  .close;
  float: none;
  opacity: 0.5;
  color: @carrot;
  i{
    font-size: @report-a-problem-font-size;
  }
  &:hover,
  &:focus{
    color: @carrot;
    opacity: 1.0;
    text-decoration: none!important;
  }
}
//remove the background image and style the header box.
.EXLResultTabContainer{
  div.EXLTabHeader{
    .reset;
    .make-row();
    max-height: 50em;
    background-image: none;
    background-color: @panel-heading-bg;
    border: 1px solid @panel-border;
    .border-top-radius(4px);
    //remove the tabs buttons backgrounds
    div.EXLTabHeaderContent{

      .make-lg-column(5);
      padding: 0;
      padding-top: 0;
      a{
        display: inline-block;
        padding: 8px 15px;
        // max-height: 21px;
        .text-overflow();
      }
    }
    div.EXLTabHeaderButtons{
      background-color: #f5f5f5;
      padding-right: 0;
      height: auto;
      border-top: 1px solid #ddd;
      margin-top: -1px;
      .make-lg-column(7);
      position: static;
      ol.EXLTabHeaderButtonSendToList{
        clear: none;
        background-color: @body-bg;

        .dropdown-menu;
         @media(max-width: @screen-small){
          .dropup;
        }
      }
    }
    div.EXLTabHeaderButtons li, div.EXLTabHeaderButtons li span{
      height: auto;
      background-image: none;
      border-right: none;
    }

    div.EXLTabHeaderButtons ul{
      .reset;
      .pull-right;
      .nav;
      a{
        border-right: 1px solid @input-border;
      }
      > li > ol span{
        float: none;
      }
    }
  }
}
a[title="open this item in a new window"]{
  &:before{
    .icon("\f08e");
  }
  img{
    display: none;
  }
}

a[title="hide tabs"]{
  .close;
  border-right: none !important;
  &:before{
    .icon("\f05c");

  }
  img{
    display: none;
  }
}


a[title="show send to options"]{
  &:after{
    .caret;
  }
  img{
    display: none;
  }
}
.EXLTabContent{
  height: 20em;
  border: 1px solid @panel-border;
  position: relative;
  z-index: 1;
  .border-bottom-radius(4px);
  div.EXLDetailsLinks{
    background-image: none;
  }
}

.EXLDetailsTabContent{
  div.EXLDetailsLinks{
    .make-lg-column(4);
    position: static;
    margin: 0;
    padding: 0;
    ul{
      height: auto;
      width: auto;
      padding: 0;
      margin-left: 12.5px;
    }
    li span.EXLDetailsLinksTitle a{
      .reset;
    }
    li span.EXLDetailsLinksBullet{
      background-image: none;
      margin-top: 0;
      margin-right: 8px;
      &:before{
        .icon("\f138");
      }
    }
  }
  div.EXLDetailsContent{
    .make-lg-column(8);
    position: static;
    z-index: 1;
    margin: 0;
  }
}

.icon-remove-circle.close{
  float:none;
}

.EXLResultTabs{
  padding-left: 0;
}
